# Ignorar a pasta de dependências
node_modules/

# Ignorar arquivos de build
dist/
build/

# Ignorar configs locais
.env
*.log
.vscode/
.jason

# Retirando arquivos desnecessários já versionados
git rm -r --cached node_modules/
git rm -r --cached .vscode/
git rm -r --cached dist/
git rm -r --cached build/
git rm -r --cached .env
git rm -r --cached .jason
